* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    margin-top: 2rem;
}

.logo {
    margin-left: 4rem;
}

.nav-btn {
    margin-left: 55rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    color: rgb(241, 113, 188);
    border: 2px solid rgb(241, 113, 188);
    background: white;
}

.section-1 {
    text-align: center;
    margin-top: 6rem;
}

.header {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.header-text {
    margin: 0 15rem;
}

.header-btn, .build-btn {
    text-transform: capitalize;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    display: block;
    margin-left: 37rem;
    color: whitesmoke;
    background: rgb(241, 113, 188);
    border: none;
}

.header-img {
    width: 35rem;
    margin-top: 3rem;
}

.communities {
    display: flex;
    margin: 3rem 22rem;
}

.communities-2 {
    margin-left: 12rem;
}

.communities-text, .messages-text {
    margin-left: 2rem;
}

.together, .users {
    background-image: url('./images/bg-section-top-mobile-2.svg');
background-repeat: no-repeat;
background-size: 2000px 450px;

}


.together, .flowing, .users {
    display: flex;
    padding: 6rem 6rem;
}


.together-1, .users-1 {
    display: block;
    margin-right: 5rem;
    margin-top: 6rem;
}

.together-1 h4, .flowing-1 h4, .users h4 {
    padding-bottom: 1rem;
}


.together-img, .flowing-img, .users-img {
    width: 25rem;
}

.flowing-1 {
    display: block;
    margin-left: 5rem;
    margin-top: 6rem;
}


.build-header {
    margin-top: 3rem;
    text-align: center;
}


/* MEDIA QUERY */
/*Mobile*/
@media only screen and (max-width: 480px ) {
    
}